#Ordner daten ignorieren

Texte/
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*-blx.bib
*.bcf
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.run.xml
*.toc
*.vrb
*.xdy
*.pdf
